<!DOCTYPE html>
<html>
  <head>
    <title>U2be</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
        window.u2be_logo = "<%= image_url('U2be.svg') %>";
        window.youtube_download = "<%= image_url('youtube_download_vids.svg') %>"
    </script>
    <script src="https://kit.fontawesome.com/c22d4a9399.js" crossorigin="anonymous"></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Oswald&family=Source+Sans+3:wght@300;400&display=swap');
    </style>

    <link rel='icon' type='image/x-icon' href="<%= image_url('U2be_just_logo.png') %>" />

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Oswald&family=Roboto&family=Source+Sans+3:wght@300;400&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
